<!-- Start Best Seller Products Area -->
<section th:fragment="best-seller-product" id="bestSeller-area-wrapper" class="pt-90 pt-md-60 pt-sm-50">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Section title -->
            <div class="col-lg-8 m-auto text-center">
                <div class="section-title-wrap">
                    <h2>Best Sellers</h2>
                </div>
            </div>
            <!-- End Section title -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="products-wrapper">
                    <div class="product-carousel-wrap">
                        <!-- Start Single Product -->
                        <div class="single-product-wrap">
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail">
                                <a href="single-product.html" class="d-block">
                                    <img class="primary-thumb" th:src="@{/assets2/img/products/prod-7-1.jpg}" alt="Product"/>
                                    <img class="secondary-thumb" th:src="@{/assets2/img/products/prod-7-2.jpg}" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                                    <div class="prod-btn-group">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><button
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>
                                        <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Compare"><i
                                                class="dl-icon-compare"></i></a>
                                    </div>
                                    <span class="product-badge hot">Hot</span>
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="single-product.html">Product Grouped</a></h2>
                                <div class="product-prices">
                                    <del class="oldPrice">$50.00</del>
                                    <span class="price">$40.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="single-product-wrap">
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail">
                                <a href="single-product.html" class="d-block">
                                    <img class="primary-thumb" th:src="@{/assets2/img/products/prod-8-1.jpg}" alt="Product"/>
                                    <img class="secondary-thumb" th:src="@{/assets2/img/products/prod-8-2.jpg}" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                                    <div class="prod-btn-group">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><button
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>
                                        <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Compare"><i
                                                class="dl-icon-compare"></i></a>
                                    </div>
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="single-product.html">Open-knit sweater</a></h2>
                                <div class="product-prices">
                                    <del class="oldPrice">$80.00</del>
                                    <span class="price">$20.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="single-product-wrap">
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail">
                                <a href="single-product.html" class="d-block">
                                    <img class="primary-thumb" th:src="@{/assets2/img/products/prod-9-1.jpg}" alt="Product"/>
                                    <img class="secondary-thumb" th:src="@{/assets2/img/products/prod-9-2.jpg}" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                                    <div class="prod-btn-group">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><button
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>
                                        <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Compare"><i
                                                class="dl-icon-compare"></i></a>
                                    </div>
                                    <span class="product-badge">-20%</span>
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="single-product.html">Tassels embroidered dress</a>
                                </h2>
                                <div class="product-prices">
                                    <del class="oldPrice">$80.00</del>
                                    <span class="price">$20.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="single-product-wrap">
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail">
                                <a href="single-product.html" class="d-block">
                                    <img class="primary-thumb" th:src="@{/assets2/img/products/prod-10-1.jpg}" alt="Product"/>
                                    <img class="secondary-thumb" th:src="@{/assets2/img/products/prod-10-2.jpg}" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                                    <div class="prod-btn-group">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><button
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>
                                        <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Compare"><i
                                                class="dl-icon-compare"></i></a>
                                    </div>
                                    <span class="product-badge">-30%</span>
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="single-product.html">Stripe textured dress</a></h2>
                                <div class="product-prices">
                                    <del class="oldPrice">$80.00</del>
                                    <span class="price">$20.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="single-product-wrap">
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail">
                                <a href="single-product.html" class="d-block">
                                    <img class="primary-thumb" th:src="@{/assets2/img/products/prod-11-1.jpg}" alt="Product"/>
                                    <img class="secondary-thumb" th:src="@{/assets2/img/products/prod-11-2.jpg}" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                                    <div class="prod-btn-group">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><button
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>
                                        <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Compare"><i
                                                class="dl-icon-compare"></i></a>
                                    </div>
                                    <span class="product-badge">New</span>
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="single-product.html">Ribbed jersey dress</a></h2>
                                <div class="product-prices">
                                    <del class="oldPrice">$80.00</del>
                                    <span class="price">$20.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="single-product-wrap">
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail">
                                <a href="single-product.html" class="d-block">
                                    <img class="primary-thumb" th:src="@{/assets2/img/products/prod-12-1.jpg}" alt="Product"/>
                                    <img class="secondary-thumb" th:src="@{/assets2/img/products/prod-12-2.jpg}" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <a href="#" class="btn btn-black btn-addToCart">Add to Cart</a>
                                    <div class="prod-btn-group">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><button
                                                data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>
                                        <a href="wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Wishlist"><i class="dl-icon-heart4"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Add to Compare"><i
                                                class="dl-icon-compare"></i></a>
                                    </div>
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="single-product.html">Floral Print Voile Bodysuit</a>
                                </h2>
                                <div class="product-prices">
                                    <del class="oldPrice">$80.00</del>
                                    <span class="price">$20.00</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>