<!--== Start Instagram Feed Area ==-->
<div th:fragment="instagram-feed" class="instagram-feed-area pt-86 pt-md-58 pt-sm-46">
    <div class="instagram-content-header text-center">
        <h3>Instagram <span>@Veera</span></h3>
    </div>

    <div class="container pt-30">
        <div class="row gy-5">
            <div class="col-lg-3 col-sm-6">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img th:src="@{/assets2/img/instagram/1.jpg}" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="dl-icon-android-add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img th:src="@{/assets2/img/instagram/2.jpg}" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="dl-icon-android-add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img th:src="@{/assets2/img/instagram/3.jpg}" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="dl-icon-android-add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img th:src="@{/assets2/img/instagram/4.jpg}" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="dl-icon-android-add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Instagram Feed Area ==-->